<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="root">
        <div class="consult_environment">
            <h2>Resultados</h2>
            <button onclick={getbancodedados()}>Clique para listar as relações</button>
            <div class="keyboard">
                <button onclick='operator_impression("\u03C3")'>&sigma;</button>
                <button onclick='operator_impression("\u03C0")'>&Pi;</button>
                <button onclick='operator_impression("\u03C1")'>&rho;</button>
                <button onclick='operator_impression("\u222A")'>&Union;</button>
                <button onclick='operator_impression("\u2212")'>-</button>
                <button onclick='operator_impression("\u2715")'>×</button>
                <button onclick='operator_impression("⋈")'>⋈</button>
                <button onclick='operator_impression("⋈θ")'>⋈θ</button>
                <button onclick='operator_impression("\u00F7")'>÷</button>
            </div>
            <form method="post" id="consult" class="consult_form">
                <button type="button" onclick="pegar()">pegar</button>
                <div class="consult_interface" contenteditable="true"></div>
                <button type="submit">Enviar</button>
            </form>
            <div id="result"></div>
        </div>
        <div class="bd">
            <h2>Relações</h2>
            <div class="relations" id="relations_impression"></div>
        </div>
    </div>

    <script>
        let operators = [];
        let selectedOperator = null
        let click_flag = false

        function removeOperatorByIndex(index) {
            console.log(index)
            for (let i = 0; i < operators.length; i++) {
                if (operators[i].operatorindex == index) {
                    console.log(operators[i].operatorindex)
                    operators.splice(i, 1);
                    break;
                }
                if(operators[i].relation.includes(index)) {
                    let index_to_remove = operators[i].relation.indexOf(index);
                    if (index_to_remove !== -1) {
                        operators[i].relation.splice(index_to_remove, 1);
                    }
                }
            }
        }

        document.addEventListener('keydown', function(event) {
        if (event.key === 'Backspace') {
            const selectedComplexRelation = document.querySelector('.complex_relation.selected');
            if (selectedComplexRelation) {
                console.log('apagou')
                removeOperatorByIndex(selectedComplexRelation.getAttribute('index'))
                selectedComplexRelation.remove();
            }
        }
    });

        document.addEventListener('click', function(event) {
            const clickedElement = event.target;
            const complexRelation = clickedElement.closest('.complex_relation');
            if (complexRelation) {
                document.querySelectorAll('.complex_relation').forEach(element => {
                    element.classList.remove('selected');
                });
                complexRelation.classList.add('selected');
            }
        });


        function createOperatorContainer(operator) {
            const operatorContainer = document.createElement('div');
            operatorContainer.classList.add('operator-container');

            const operatorElement = document.createElement('div');
            operatorElement.setAttribute('class', 'operator-symbol');
            operatorElement.textContent = operator;

            const relationArea = document.createElement('div');
            relationArea.classList.add('relationArea');

            const parenteses_1 = document.createElement('span');
            parenteses_1.textContent = '(';

            const parenteses_2 = document.createElement('span');
            parenteses_2.textContent = ')';

            let relation = document.createElement('input');
            relation.classList.add('simple_relation');
            relation.setAttribute('placeholder', 'R');
            relation.setAttribute('owner', (operators.length))
            relation.setAttribute('index', 0)
            
            relationArea.appendChild(parenteses_1);
            relationArea.appendChild(relation);
            relationArea.appendChild(parenteses_2);

            let attributeValueContainer = null
            let secondrelationArea = null

            if(['\u2715', '\u2212', '\u00F7', '\u222A', '\u22C8'].includes(operator)) {
                  secondrelationArea = relationArea.cloneNode(true)
                  relation.setAttribute('index', 1)
                  secondrelationArea.querySelector('.simple_relation').setAttribute('index', 0)
                  operatorContainer.appendChild(secondrelationArea)
            } else {
                const input_atributes = document.createElement('input');
                input_atributes.setAttribute('placeholder', 'Atr1: valor, ...');
                input_atributes.setAttribute('class', 'input-atributes');
            
                attributeValueContainer = document.createElement('div');
                attributeValueContainer.classList.add('attribute-value-container');
            
                attributeValueContainer.appendChild(input_atributes);
                operatorElement.appendChild(attributeValueContainer);
            }
            
            operatorContainer.appendChild(operatorElement);
            operatorContainer.appendChild(relationArea);

            return operatorContainer;
        }

        document.addEventListener('click', function(event) {
            selectedOperator = event.target.closest('.simple_relation');
            if(selectedOperator) {
                click_flag = true;
            }
        });


        function addOperator(operator) {
            const newOperator = {
                operator: operator,
                relation: [],
                atributes_values: null,
                operatorindex: null,
            }

            let container;

            if (operators.length > 0) {
                if(selectedOperator){
                        const complex_input = document.createElement('div');
                        complex_input.classList.add('complex_relation');
                        complex_input.contentEditable = "true";
                        var complex_relations = Array.from(document.querySelectorAll('.complex_relation'));
                        var complex_index = complex_relations.length
                        complex_input.setAttribute('index', complex_index)
                        reference = selectedOperator.getAttribute('owner')
                        index = selectedOperator.getAttribute('index')
                        newOperator.operatorindex = complex_index
                        operators[reference].relation[index] = complex_index
                        selectedOperator.parentNode.replaceChild(complex_input, selectedOperator);
                        complex_input.appendChild(createOperatorContainer(operator));
                }
                
            } else {
                container = document.querySelector('.consult_interface');
                container.appendChild(createOperatorContainer(operator));
            }

            operators.push(newOperator);

            document.querySelectorAll('.operator-container').forEach((operatorContainer, index) => {
            let operatorsymbol = operatorContainer.querySelector(':scope > .operator-symbol')
            let attributevaluecontainer = operatorsymbol.querySelector(':scope > .attribute-value-container');
            let  inputAttributes;
            if(attributevaluecontainer){
                inputAttributes = attributevaluecontainer.querySelector(':scope > .input-atributes')
            }
            let relationAreas = operatorContainer.querySelectorAll(':scope > .relationArea');
            inputAttributes?.addEventListener('input', () => operators[index].atributes_values = inputAttributes.value);
            relationAreas.forEach(relationArea => {
                let simpleRelations = relationArea.querySelectorAll(':scope > .simple_relation')
                if (simpleRelations) {
                    simpleRelations.forEach(element => {
                        element.addEventListener('input', function() {
                            simplerelationindex = element.getAttribute('index')
                            operators[index].relation[simplerelationindex] = element.value
                        })
                    });
                }
            });
        });
        }

        document.getElementById('consult').addEventListener('submit', function(e) {
            e.preventDefault();
            fetch('/consult', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                  },
                body: JSON.stringify(operators)  
            }).then(
                response => {
                    if (!response.ok) {
                        throw new Error('Erro na requisição');
                    } else {
                        return response.json();
                    }
                }
            ).then(data => {
                console.log(data)
                var resultadoHTML = '<ul>';
                        for(element of data){
                            resultadoHTML += '<li>' + element + '</li>';
                        }
                    resultadoHTML += '</ul>';
                    document.getElementById('result').innerHTML = resultadoHTML;
                }).catch(error => {
                    console.log(error);
            }).catch(error => {
                console.log(error);
            });
        });


        function getbancodedados(){
            fetch('/list', {
                method: 'GET'
            }).then(
                response => {
                    if (!response.ok) {
                        throw new Error('Erro na requisição');
                    } else {
                        console.log(response)
                        return response.json();
                    }
                }).then(data => {
                    const [bd, labelsData] = data
                    labels = labelsData
                    let resultadoHTML = ''
                        for(let element of bd){
                            let textoSemTracos = element.replace(/\d+ tuples returned|-+/g, '');
                            resultadoHTML += '<pre>' + textoSemTracos + '</pre>';
                        }
                    document.getElementById('relations_impression').innerHTML = resultadoHTML;
                }).catch(error => {
                    console.log(error);
            }).catch(error => {
                console.log(error);
            });
        }

        function pegar() {
            console.log(operators)
        }

        function operator_impression(operator) {
            if(click_flag == true || operators.length == 0) {
                click_flag = false
                addOperator(operator);
            }
        }
    </script>
</body>
</html>
