<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  .um {
       display: flex;
       width: 50%;
       align-items: center;
       justify-content: space-between;
       height: 100px;
       background-color: black;
  }
  .dois {
    width: 50%;
    height: 100%;
    background-color: aqua;
  }
  span {
    width: 70%;
  }
  .tres {
    width: 50%;
    background-color: brown;
    height: 100%;
  }
</style>
<body>
    <div class="um">
        <div class="dois">
            <span><h1>oi</h1></span>
        </div>
        <div class="tres">
        </div>
    </div>
</body>
</html>
